<!DOCTYPE html>
<html>
  <head>
    <title>Materia Prima</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
    	function listar(){
    		window.location = "/produto/lista"
    	}
	    function menu(){
	        window.location = '/'
	    }
    </script>
  </head>
  <body>
  	<input type="button" onclick="menu()" value="Menu Principal"><br><br>
  	<input type="button" onclick="listar()" value="Lista">
  	<h2>Editar produto</h2>
  	<form action="/produto/alterar" method="post">
  	Nome:<br>
    <input type="text" name="nome" id="nome" value="<%= produto.nome %>"><br>
    <input type="hidden" name="id" id="id" value="<%= produto.id %>">
    Descrição:<br>
    <input type="text" name="descricao" id="descricao" value="<%= produto.descricao %>"><br><br>
    <input type="submit" value="alterar">
</form>
  </body>
</html>